<h1>Register</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" [formControl]="usernameControl" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" [formControl]="passwordControl" required />
  </div>
  <div>
    <label for="role">Role</label>
    <select name="role" id="role" [formControl]="roleControl" required>
      <option value="">Select a role</option>
      <option *ngFor="let role of roles" [value]="role">{{ role | titlecase }}</option>
    </select>
  </div>
  <button type="submit" [disabled]="registrationForm.invalid">Register</button>
</form>
