<h1>Login</h1>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-control">
    <input type="text" name="username" id="username" [(ngModel)]="user.username" required placeholder="Username" />
  </div>
  <div class="form-control">
    <input type="password" name="password" id="password" [(ngModel)]="user.password" required placeholder="Password"/>
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<p>Don't have an account? <a routerLink="../register">Register here</a></p>